doctype html
html
  include modules/head/head.jade
  body
    .titles.titles--fixed#fixed
    .preloader
      .preloader__container
        .preloader__text 0
        include ../assets/icons/forest.svg
    include modules/menu.jade
    .titles-click-area#titlesClickArea
    .inner-wrapper
      include modules/header/blog-header.jade
      section.blog
        .blog-inner
          .titles.titles--static#static
            .titles__wrapper#titlesWrapper
              .titles__left
                ul.titles__list
                  each val in post
                    li.titles__item
                      a.titles__link=val.title
              .titles__right
          section.articles
            each val in post
              article.article
                h1.article__header=val.title
                date.article__date=val.date
                .article__text !{val.body}
      include modules/inner-footer.jade