doctype html
html
  include modules/head/head.jade
  body
    #authArea
    #authModal
      a(href="#")#authModalBtn X
    .preloader
      .preloader__container
        .preloader__text 0
        include ../assets/icons/forest.svg
    .wrapper
      header.main-header
        a.authorization-btn#authorizationBtn(href="#") Авторизоваться
      .container
        .click-area#clickArea
        .index-container#indexContainer
          .flipper.flipper--unload
            .person-card.person-card--rotating
              include modules/person-info.jade
              .social-links.social-links--centered
                a.social-links__link(href="#")
                  include ../assets/icons/vk.svg
                a.social-links__link(href="#")
                  include ../assets/icons/github.svg
                a.social-links__link(href="#")
                  include ../assets/icons/in.svg
              nav.index-menu
                ul.index-menu__list
                  li.index-menu__item
                    a.index-menu__link(href="works.html") Мои работы
                  li.index-menu__item
                    a.index-menu__link(href="about.html") Обо мне
                  li.index-menu__item
                    a.index-menu__link(href="blog.html") Блог
            form#loginForm.login-form.login-form--rotating(method="get", action="/auth")
              .login-form__header Авторизуйтесь
              .login-form__login-container
                input(type="text" placeholder="Логин" name="login" required)#formLogin.login-form__login
              .login-form__pass-container
                input(type="password" placeholder="Пароль" name="password" required)#formPass.login-form__pass
              .login-form__captcha.captcha
                input(type="checkbox" id="captcha" name="captchaCheck" required).captcha__check
                label(for="captcha").captcha__check-label Я человек
                .captcha__question Вы точно не робот?
                input(type="radio" name="captchaRadio" id="captcha-radio-yes" required).captcha__radio
                label(for="captcha-radio-yes").captcha__radio-label Да
                input(type="radio" name="captchaRadio" id="captcha-radio-no" required).captcha__radio
                label(for="captcha-radio-no").captcha__radio-label Не уверен
              .login-form__links
                a(href="index.html").login-form__link На главную
                input(type="button" value="Войти")#loginFormBtn.login-form__link
    footer.main-footer
      .main-footer__container
        .main-footer__copyright © Родион Федотов 
        .main-footer__caption создано с любовью в LoftSchool | 2016