doctype html
html
  head
    meta(charset='utf-8')
    title My portfolio
    meta(content='width=device-width, initial-scale=1' name='viewport')
    ink(rel='stylesheet' href='assets/css/foundation.css')
    link(rel="stylesheet", href="assets/css/main.css")
    script(src='assets/js/app.js' defer)
  body
    .greating
      .greating_text Hello! I'm your training builder.
      .greating_picture