header.inner-header
  img(src="assets/icons/portfolio_header.svg").inner-header__image
  .inner-header__top
    .social-links.social-links--left
      a.social-links__link.social-links__link--bright(href="http://vk.com/radiorodeo")
        include ../../../icons/vk.svg
      a.social-links__link.social-links__link--bright(href="https://github.com/radiorodeo")
        include ../../../icons/github.svg
      a.social-links__link.social-links__link--bright(href="#")
        include ../../../icons/in.svg
    a.hamburger.hamburger--right
      img.hamburger__image(src="assets/icons/hamburger.svg")
  .person-info-inner.person-info-inner--center
    .person-info-inner__image-wrap.person-info-inner__image-wrap--big-margin
      img.person-info-inner__image(src="assets/img/card-image.png")
    h1.person-info-inner__name.person-info-inner__name--big Федотов Родион
    h2.person-info-inner__caption.person-info-inner__caption--big Личный сайт веб разработчика
  a.anchor-link(href="#forest-map") bottom
    include ../../../icons/arrow_down.svg
  .traingle
    include ../../../icons/traingle.svg