header.inner-header
  .inner-header__top
    .social-links.social-links--left
      a.social-links__link.social-links__link--bright(href="http://vk.com/radiorodeo")
        include ../../../icons/vk.svg
      a.social-links__link.social-links__link--bright(href="https://github.com/radiorodeo")
        include ../../../icons/github.svg
      a.social-links__link.social-links__link--bright(href="#")
        include ../../../icons/in.svg
    a.hamburger.hamburger--right
      img.hamburger__image(src="assets/icons/hamburger.svg")
  .blog-card
    img(src="assets/icons/blog_header.svg").blog-card__bg
    .blog-card__image-wrap
      img.blog-card__image(src="assets/img/card-image.png")
    h1.blog-card__title Блог
    h2.blog-card__caption Статьи, которые я написал
  .traingle
    include ../../../icons/traingle-blog.svg