.menu
  .menu__left
  .menu__right
  ul.menu__list
    li.menu__item.menu__item--active
      a.menu__link(href="#") Мои работы
    li.menu__item
      a.menu__link(href="#") Обо мне
    li.menu__item
      a.menu__link(href="#") Блог
    li.menu__item
      a.menu__link(href="#") Авторизация