.person-info
  .person-info__image-wrap.person-info__image-wrap--lit-margin
    img.person-info__image(src="assets/img/card-image.png")
  h1.person-info__name Федотов Родион
  h2.person-info__caption Личный сайт веб разработчика