head
  meta(charset='utf-8')
  title My portfolio
  meta(content='width=device-width, initial-scale=1' name='viewport')
  link(rel="stylesheet", href="assets/css/main.css")
  script(src='assets/js/app.js' defer)
  include ../../modules/map.html