@media (min-width: 768px) {
  .main-header {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
  }
  .inner-header__image {
    display: block;
  }
  .person-card {
    width: 348px;
  }
  .person-info--centered {
    width: 400px;
  }
  .main-footer {
    padding-bottom: 40px;
  }
  .main-footer__container {
    width: 480px;
  }
  .hamburger--right {
    top: 30px;
    right: 30px;
  }
  .social-links--left {
    top: 30px;
    left: 30px;
  }
  .main-footer__copyright::after {
    content: '|\00a0';
  }
  .slider__header {
    font-size: 2.14rem;
  }
  .section-title {
    font-size: 3.36rem;
  }
  .person-info-inner__name--big {
    font-size: 2.5rem;
  }
  .person-info-inner__caption--big {
    font-size: 1.14rem;
  }
  .reviews {
    width: 720px;
  }
  .review {
    width: 50%;
  }
  .review__photo-wrapper {
    width: 80px;
    height: 80px;
  }
  .inner-footer__caption {
    width: 50%;
    text-align: left;
    &::after {
      left: auto;
      right: 0;
      top: 2.5%;
      bottom: 2.5%;
      width: 1px;
      height: auto;
    }
  }
  .inner-footer__links {
    width: 50%;
    text-align: center;
    &::after {
      display: none;
    }
  }
  .footer-nav {
    justify-content: flex-start;
  }
  .footer-nav__item {
    margin-right: 1.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .inner-footer__quote {
    text-align: left;
  }
  .inner-footer__bot {
    text-align: center;
  }
  .inner-footer__copyright-top {
    display: inline-block;
    &::after {
      content: ' |';
    }
  }
  .inner-footer__copyright-bot {
    display: inline-block;
  }
  .social-links--footer {
    max-width: 100%;
    width: auto;
    justify-content: flex-start;
  }
  .social-links__link {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  .section-title--about-less {
    font-size: 2.14rem;
  }
  .section-title--abilities {
    font-size: 2.14rem;
  }
  .conteiner-about {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .person-card {
    width: 380px;
  }
  .section-title {
    font-size: 63px;
    &--feedback {
      max-width: 400px;
    }
  }
  .slider {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .slider__description {
    width: 50%;
    height: 100%;
    align-self: flex-end;
    order: 0;
    background-color: #ebefe2;
  }
  .slider__current {
    width: 50%;
    min-height: 70vh;
    order: 1;
  }
  .slider__thumbnails {
    order: 3;
    width: 50%;
    min-height: 30vh;
  }
  .slider-caption {
    margin-bottom: 60px;
  }
  .inner-footer__caption {
    width: 33.33%;
  }
  .inner-footer__links {
    width: 33.33%;
    &::after {
      display: block;
      left: auto;
      right: 0;
      top: 2.5%;
      bottom: 2.5%;
      width: 1px;
      height: auto;
    }
  }
  .inner-footer__quote {
    width: 33.33%;
  }
  .footer-nav__item {
    margin-right: 1.5rem;
    &:last-child {
      margin-right: none;
    }
  }
  .container-about {
    flex-direction: row;
    justify-content: space-between;
  }
  .about {
    width: 50%;
  }
  .skills {
    width: 50%;
  }
  .section-title--about-less {
    font-size: 2.5rem;
  }
  .section-title--abilities {
    font-size: 2.5rem;
  }
  .traingle__right--about {
    fill: #f4f5f0;
  }
}

@media (min-width: 1800px) {
  .main-header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
  }
  .about {
    width: 50%;
    align-items: flex-start;
    flex-direction: row;
  }
  .skills {
    width: 50%;
    align-items: flex-start;
  }
  .section-title--about {
    width: 50%;
    text-align: center;
    margin: 0;
    margin-top: -30px;
  }
  .about__inner {
    width: 50%;
  }
}