@media (max-width: 768px) {
  .contacts {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/////////
///768//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////
@media (min-width: 768px) {

  .slider__header {
    font-size: 2.14rem;
  }

  .slider__description-container {
    max-width: 475px;
  }

  .slider-btn {
    font-size: 1.14rem;
  }

  .slider__caption {
    font-size: 1.14rem;
    margin: 0 0 35px;
  }

  .slider__current {
    height: 40%;
  }

  .slider__description {
    height: 30%;
  }

  .slider__thumbnails {
    height: 30%;
  }

  .hamburger {
    width: 40px;
    height: 35px;
  }

  .hamburger__top,
  .hamburger__middle,
  .hamburger__bot {
    width: 40px;
    height: 5px;
  }

  .hamburger__middle {
    top: 15px;
  }

  .hamburger--transformed {
    .hamburger__top {
      width: 45px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    }

    .hamburger__middle {
      opacity: 0;
    }

    .hamburger__bot {
      width: 45px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
    }
  }

  .main-header {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
  }

  .inner-header__image {
    display: block;
  }

  .person-card {
    width: 348px;
  }

  .person-info--centered {
    width: 400px;
  }

  .person-info__name {
    font-size: 2rem;
  }

  .person-info__caption {
    font-size: 1.14rem;
  }

  .authorization-btn {
    font-size: 1.14rem;
  }

  .index-menu__link {
    font-size: 1.14rem;
  }

  .main-footer {
    padding-bottom: 40px;
  }

  .main-footer__container {
    width: 480px;
  }

  .hamburger--right {
    top: 30px;
    right: 30px;
  }

  .social-links--left {
    top: 30px;
    left: 30px;
  }

  .main-footer__copyright::after {
    content: '|\00a0';
  }

  .section-title {
    font-size: 3.36rem;
  }

  .person-info-inner__name--big {
    font-size: 2.5rem;
  }

  .person-info-inner__caption--big {
    font-size: 1.14rem;
  }

  .reviews {
    width: 720px;
  }

  .review {
    width: 50%;
  }

  .review__photo-wrapper {
    width: 80px;
    height: 80px;
  }

  .inner-footer__caption {
    width: 50%;
    text-align: left;
    &::after {
      left: auto;
      right: 0;
      top: 2.5%;
      bottom: 2.5%;
      width: 1px;
      height: auto;
    }
  }

  .inner-footer__links {
    width: 50%;
    text-align: center;
    &::after {
      display: none;
    }
  }

  .footer-nav {
    justify-content: flex-start;
  }

  .footer-nav__item {
    margin-right: 1.2rem;
    &:last-child {
      margin-right: 0;
    }
  }

  .inner-footer__quote {
    text-align: left;
  }

  .inner-footer__bot {
    text-align: center;
  }

  .inner-footer__copyright-top {
    display: inline-block;
    &::after {
      content: ' |';
    }
  }

  .inner-footer__copyright-bot {
    display: inline-block;
  }

  .social-links--footer {
    max-width: 100%;
    width: auto;
    justify-content: flex-start;
  }

  .social-links__link {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }

  .section-title--about-less {
    font-size: 2.14rem;
  }

  .section-title--abilities {
    font-size: 2.14rem;
  }

  .conteiner-about {
    flex-direction: column;
  }

  .blog-card__bg {
    max-width: 120%;
  }

  .blog-inner {
    padding-bottom: 270px;
  }

  .blog-card__title {
    font-size: 3.5rem;
  }

  .article__header {
    font-size: 2.14rem;
  }

  .graphs {
    max-width: none;
    margin: auto;
  }

  .graph {
    &:nth-child(2n) {
      margin-right: 38px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  .menu__link {
    font-size: 3.5rem;
  }

}

//////////
///1200/////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
@media (min-width: 1200px) {

  .slider__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #ebefe2;
    justify-content: flex-end;
  }

  .slider__current {
    order: 2;
    height: 75%;
    width: 50%;
  }

  .slider__current-image {
    max-width: 95%;
  }

  .slider__description {
    order: 1;
    width: 50%;
    height: 75%;
  }

  .slider__description-container {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    top: 0;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .slider__thumbnails {
    order: 3;
    height: 25%;
    width: 50%;
  }

  .person-card {
    width: 380px;
  }

  .section-title {
    font-size: 63px;
    &--feedback {
      max-width: 400px;
    }
  }

  .inner-footer__top {
    padding: 20px 0;
  }

  .inner-footer__caption {
    width: 33.33%;
  }

  .inner-footer__caption-text {
    margin: 0;
  }

  .inner-footer__links {
    width: 33.33%;
    &::after {
      display: block;
      left: auto;
      right: 0;
      top: 2.5%;
      bottom: 2.5%;
      width: 1px;
      height: auto;
    }
  }

  .inner-footer__quote {
    width: 33.33%;
  }

  .footer-nav__item {
    margin-right: 1.5rem;
    &:last-child {
      margin-right: none;
    }
  }

  .container-about {
    flex-direction: row;
    justify-content: space-between;
  }

  .about {
    width: 50%;
  }

  .skills {
    width: 50%;
  }

  .section-title--about-less {
    font-size: 2.5rem;
  }

  .section-title--abilities {
    font-size: 2.5rem;
  }

  .traingle__right--about {
    fill: #f4f5f0;
  }

  .titles {
    position: static;
    transform: none;
    background: transparent;
    width: 30%;
    transition: none;
    &::after {
      display: none;
    }
  }

  .titles__list {
    position: static;
    transform: none;
    background: transparent;
  }

  .titles__link{
    color: #566358;
    &--active {
      border-right: 3px solid #6c9c5a;
      color: #6c9c5a;
      font-weight: normal;
    }
    &:hover {
    border-right: 3px solid #6c9c5a;
    color: #6c9c5a;
    }
  }

  .titles__btn {
    display: none;
  }

  .articles {
    width: 60%;
  }

  .blog-inner {
    padding-bottom: 180px;
  }

  .graphs {
    text-align: left;
    padding-left: 40px;
  }

  .section-title--abilities {
    text-align: left;
    padding-left: 40px;
  }

  .blog-card__title {
    font-size: 4.5rem;
  }

  .blog-card__bg {
    max-width: 150%;
  }

  .blog-card__caption {
    font-size: 1.14rem;
  }

  .menu__link {
    font-size: 4.5rem;
  }

}

/////////
///1800//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////
@media (min-width: 1800px) {

  .main-header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
  }

  .about {
    width: 50%;
    align-items: flex-start;
    flex-direction: row;
  }

  .skills {
    width: 50%;
    align-items: flex-start;
  }

  .section-title--about {
    width: 50%;
    text-align: center;
    margin: 0;
    margin-top: -30px;
  }

  .about__inner {
    width: 50%;
  }

}

@media (max-height: 650px) {
  #forest-map,
  .inner-header,
  .slider__container {
    height: 650px;
  }

  .menu--active {
    position: absolute;
  }

  .hamburger--transformed {
    position: absolute;
  }
}
