@keyframes left {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes right {
  0% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}

@keyframes items {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.menu__left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: rgba(108,156,90,.87);
}

.menu__right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: rgba(108,156,90,.87);
}

.menu__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu__item {
  opacity: 0;
  margin-bottom: 50px;
}

.menu__link {
  color: #fff;
  position: relative;
  display: block;
  font: 4.5rem 'Sansus Webissimo', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 35px;
  &--active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 3px;
    width: 90px;
    background: #fff;
  }
  &:hover {
    color: rgba(255,255,255,.8);
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      height: 3px;
      width: 90px;
      background: #fff;
    }
  }
}

.menu--active {
  display: block;
}

.menu--active .menu__left {
  animation: left 1s ease-in-out;
  animation-fill-mode: forwards;
}

.menu--active .menu__right {
  animation: right 1s ease-in-out;
  animation-fill-mode: forwards;
}

.menu--active .menu__list {
}

.menu--active .menu__item {
}

.menu--active .menu__link {
}

.menu--active .menu__item:nth-child(1) {
  animation: items 0.8s 1s;
  animation-fill-mode: forwards;
}

.menu--active .menu__item:nth-child(2) {
  animation: items 1.6s 1s;
  animation-fill-mode: forwards;
}

.menu--active .menu__item:nth-child(3) {
  animation: items 2.4s 1s;
  animation-fill-mode: forwards;
}

.menu--active .menu__item:nth-child(4) {
  animation: items 3.2s 1s;
  animation-fill-mode: forwards;
}