@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoMedium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoItalic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoLight.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoLightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sansus Webissimo';
  src: url(../fonts/Sansus-Webissimo-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url(../fonts/fontawesome-webfont.ttf);
  font-weight: normal;
  font-style: normal;
}