@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/RobotoMedium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/RobotoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansus Webissimo';
  src: url(../fonts/Sansus-Webissimo-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url(../fonts/fontawesome-webfont.ttf);
  font-weight: normal;
  font-style: normal;
}