doctype html
html
  include modules/head/head.jade
  body
    .wrapper
      header.main-header
        a.authorization-btn(href="#") Авторизоваться
      .index-container
        .person-card
          include modules/person-info.jade
          .social-links.social-links--centered
            a.social-links__link(href="#")
              include ../icons/vk.svg
            a.social-links__link(href="#")
              include ../icons/github.svg
            a.social-links__link(href="#")
              include ../icons/in.svg
          nav.index-menu
            ul.index-menu__list
              li.index-menu__item
                a.index-menu__link(href="works.html") Мои работы
              li.index-menu__item
                a.index-menu__link(href="about.html") Обо мне
              li.index-menu__item
                a.index-menu__link(href="blog.html") Блог
        .login-form
    footer.main-footer
      .main-footer__container
        .main-footer__copyright © Родион Федотов 
        .main-footer__caption создано с любовью в LoftSchool | 2016