doctype html
html
  include modules/head/head.jade
  body
    .inner-wrapper
      include modules/header/works-header.jade
      section.my-works
        h2.section-title.section-title--works Мои работы
          include ../icons/works_header.svg
        .slider#slider
          .slider__current
            img.slider__current-image(src="assets/img/current-slide.png")
          .slider__description
            .slider__header Сайт школы онлайн образования
            .slider__caption Html, css, javascript
            a.slider-btn(href="#") Посмотреть сайт
          .slider__thumbnails
            a.slider__thumbnail.slider__thumbnail--down(href="#")
                img.slider__thumbnail-down-image(src="assets/img/slide-down.jpg")
            a.slider__thumbnail.slider__thumbnail--up(href="#")
                img.slider__thumbnail-up-image(src="assets/img/slide-up.jpg")
      section.feedback
        h2.section-title.section-title--feedback Что обо мне говорят
          include ../icons/about_header.svg
        .reviews
          .review
            .review__photo-wrapper
              img(src="assets/img/review-photo-1.jpg").review__photo
            p.review__text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review__author Ковальчук Дмитрий
            .review__caption - основатель Losftschool
          .review
            .review__photo-wrapper
              img(src="assets/img/review-photo-2.jpg").review__photo
            p.review__text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review__author Зар Захаров
            .review__caption - главный преподаватель
        form.feedback-form
          h2.feedback-form__title Связаться со мной
          input(type="text" placeholder="Имя").feedback-form__name
          input(type="email" placeholder="Email").feedback-form__email
          textarea(placeholder="Ваше сообщение").feedback-form__text
          .feedback-form__buttons
            input(type="submit", value="Отправить").feedback-form__submit
            input(type="button", value="Очистить").feedback-form__clear
      include modules/inner-footer.jade