.container-about {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ebefe2;
}

.about {
  background-color: #ebefe2;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
}

.about__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 475px;
}

.skills__inner {
  max-width: 475px;
  margin: 0 auto;
}

.about__photo {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

.about__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 3%;
  text-align: left;
  &:last-child {
    margin-bottom: 0;
  }
  color: #566358;
}

.section-title--about {
  margin-bottom: 20px;
}

.section-title--about-less {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.section-title--abilities {
  margin-bottom: 15px;
  font-size: 1.5rem;
  display: block;
  text-transform: none;
  &::after {
    display: none;
  }
}

.skills {
  background-color: #f4f5f0;
  padding-bottom: 30px;
}

.skills__text {
  margin: 0;
  padding: 0 3%;
  text-align: left;
  color: #5d5a55;
}

.graphs {
  max-width: 320px;
  margin: 0 auto;
}

.graph {
  width: 110px;
  height: 110px;
  margin-bottom: 30px;
  margin-right: 38px;
  position: relative;
  display: inline-block;
  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.graphs__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font: 500 12px 'Roboto', Arial, sans-serif;
  color: #4e8839;
}

.graph__svg {
  fill: none;
  stroke-width: 20;
}

.graph__fill {
  stroke-dasharray: 282.5;
  transition: all 1s;
}

@keyframes filling {
  0% {
    stroke-dashoffset: 282.5;
  }
  100% {
    stroke-dashoffset: var(--offset);
  }
}

.graph__fill--html {
  --offset: 20;
  animation: filling 3s forwards;
}

.graph__fill--css {
  --offset: 40;
  animation: filling 3s forwards;
}

.graph__fill--js {
  --offset: 150;
  animation: filling 3s forwards;
}

.graph__fill--php {
  --offset: 180;
  animation: filling 3s forwards;
}

.graph__fill--mysql {
  --offset: 200;
  animation: filling 3s forwards;
}

.graph__fill--nodejs {
  --offset: 120;
  animation: filling 3s forwards;
}

.graph__fill--mongodb {
  --offset: 180;
  animation: filling 3s forwards;
}

.graph__fill--git {
  --offset: 50;
  animation: filling 3s forwards;
}

.graph__fill--gulp {
  --offset: 70;
  animation: filling 3s forwards;
}

.graph__fill--bower {
  --offset: 100;
  animation: filling 3s forwards;
}

.traingle__left--about {
  fill: #ebefe2;
}

.traingle__right--about {
  fill: #ebefe2;
}

.map {
  position: relative;
}

#forest-map {
  display: block;
  width: 100%;
  max-height: 1100px;
  min-height: 100vh;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}

.contacts {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 320px;
  background: rgba(244,245,240,.85);
  padding: 0 40px;
  padding-bottom: 35px;
  font: 500 1.14rem 'Roboto', Arial, sans-serif;
  color: #566358;
  z-index: 2;
  border-radius: 2px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  position: relative;
  padding-left: 35px;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.contacts__item svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts__item svg * {
  fill: #7e9b5c;
}

.contacts__text {
  margin-left: 10px;
}