html {
  height: 100%;
  width: auto;
}

body {
  height: 100%;
  width: auto;
}

.wrapper {
  position: relative;
  width: auto;
  height: 100%;
  min-height: 568px;
  background: url(../img/bg.jpg) center center;
  background-size: cover;
  overflow: hidden;
  &::after {
  content: '';
  display: block;
  height: 55px;
  }
}

.main-header {
  padding: 10px 0;
  font-size: 0;
  text-align: center;
}

.authorization-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 1rem;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container {
}

.index-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.index-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.index-menu__item {
  flex-grow: 1;
  background: green;
}

.index-menu__link {
  display: block;
  background: #618f54;
  text-decoration: none;
  color: #fff;
  font-size: 1.14rem;
  border-right: 2px solid rgba(255,255,255,.5);
  padding: 12px 0;
  &:hover {
    background: #487f39;
  }
}

.index-menu__item:last-child .index-menu__link {
  border-right: none;
}

.social-links {
  display: flex;
  width: 138px;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.social-links--centered {
  margin: 0 auto;
}

.social-links__link {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
  &:hover svg *{
    fill: #4e8839;
  }
}

.login-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(18,38,32,.6);
  text-align: center;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  padding: 35px 20px 75px 20px;
  transform: rotateY(90deg);
}

.login-form__header {
  position: relative;
  text-align: center;
  font: 2.14rem 'Sansus Webissimo', Arial, sans-serif;
  padding-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background: #fff;
  }
}

.login-form__login-container,
.login-form__pass-container {
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    border-radius: 30px 0 0 30px;
  }
}

.login-form__login-container {
  &::after {
    background: #f0efe9 url(../icons/login.svg) no-repeat 50% 50%;
  }
}

.login-form__pass-container {
  &::after {
    background: #f0efe9 url(../icons/password.svg) no-repeat 50% 50%;
  }
}

.login-form__login,
.login-form__pass {
  display: block;
  position: relative;
  border: none;
  border-radius: 0 30px 30px 0;
  background: #fff;
  width: 100%;
  padding: 15px 0;
  padding-left: 20px;
  font: 1rem 'Roboto', Arial, sans-serif;
  color: #373e42;
  overflow: hidden;
  outline: none;
}

.captcha {
  font: 1.14rem 'Roboto', Arial, sans-serif;
  color: #fff;
}

.captcha__check,
.captcha__radio{
  display: none;
}

.captcha__check-label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: #6c9c5a;
  }
}

.captcha__check:checked + .captcha__check-label {
  &::after {
    background: #6c9c5a url(../icons/check.svg) no-repeat 50% 50%;
    background-size: 60%;
  }
}

.captcha__question {
  margin-bottom: 10px;
  font-weight: bold;
}

.captcha__radio-label {
  font: 500 1.14rem 'Roboto', Arial, sans-serif;
  padding-left: 30px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background: #fff;
  }
}

.captcha__radio:checked + .captcha__radio-label {
  color: #6c9c5a;
  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 6px;
    top: 50%;
    border-radius: 50%;
    background: #6c9c5a;
    transform: translateY(-60%);
    z-index: 2;
  }
}

.login-form__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-form__link {
  width: 50%;
  padding: 10px 0;
  background: #618f55;
  color: #fff;
  text-decoration: none;
  &:first-child {
    border-right: 2px solid #9bb39b;
    border-radius: 0 0 0 5px;
  }
  &:last-child {
    border-radius: 0 0 5px 0;
  }
  &:hover {
    background: #477e38;
  }
}

.person-card--rotating {
  transform: rotateY(-360deg);
  transition: transform .5s;
}

.login-form--rotating {
  transition: transform .5s;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}

.main-footer__container {
  font-size: 0;
  width: 300px;
  margin: 0 auto;
}

.main-footer__copyright,
.main-footer__caption {
  font: normal 1.14rem 'Roboto', Arial, sans-serif;
  display: inline-block;
}