html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: auto;
  height: 100%;
  padding: 0 10px;
  background: green url(../img/bg.jpg) center center;
  background-size: cover;
}