.my-works {
  position: relative;
  z-index: 1;
  background: #f8f9f5;
  text-align: center;
}

.feedback {
  text-align: center;
  background: #f4f5f0 url(../img/works-bg.png) no-repeat center 75px;
  background-size: cover;
  position: relative;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 450px;
}

.section-title--feedback {
  margin-bottom: 35px;
}

.reviews {
  max-width: 92%;
  margin: 0 auto;
  font-size: 0;
}

.review {
  text-align: center;
  margin-bottom: 35px;
  display: inline-block;
  font: italic 400 1rem 'Roboto', Arial, sans-serif;
}

.review__photo-wrapper {
  display: inline-block;
  width: 51px;
  height: 51px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: -15px;
}

.review__photo {
  max-width: 100%;
}

.review__text {
  margin: 0 0 15px;
  padding: 25px 0 0;
  color: #556358;
  background: url(../icons/quotes.svg) no-repeat 0 0;
  background-size: 75px 62px;
  width: 100%;
  text-align: left;
}

.review__author {
  font: italic bold 1.14rem 'Roboto', Arial, sans-serif;
  color: #65873d;
  margin: 0 0 5px;
}

.review__caption {
  color: #5a6358;
}

.feedback-form {
  min-width: 300px;
  max-width: 380px;
  margin: 0 auto;
  background: url(../img/feedback-form-bg.png) no-repeat 0 0/cover;
  padding-top: 40px;
  border-radius: 5px;
  overflow: hidden;
  &__title {
    position: relative;
    margin: 0;
    color: #566358;
    font: 1.43rem 'Sansus Webissimo', Arial, sans-serif;
    padding-bottom: 25px;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 90px;
      background-color: #566358;
    }
  }
  &__name,
  &__email,
  &__text {
    display: block;
    width: 90%;
    margin: 0 auto 20px;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
  }
  &__text {
    height: 140px;
  }
  &__buttons {
    display: flex;
  }
  &__submit,
  &__clear {
    padding: 10px 0;
    color: #fff;
    border: none;
    font: 500 1.14rem 'Roboto', Arial, sans-serif;
    background: rgba(108,156,90,.8);
    flex-grow: 1;
  }
}

.inner-footer {
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);
  color: #fff;
  left: 0;
  right: 0;
}

.inner-footer__top {
  background: rgba(55,62,66,0.85);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-footer__caption,
.inner-footer__links,
.inner-footer__quote {
  width: 100%;
  padding: 20px 2.5%;
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}

.inner-footer__caption-text {
  font: 300 1rem 'Roboto', Arial, sans-serif;
  color: #fff;
  max-width: 345px;
  margin: 0 auto;
}

.inner-footer__caption::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 2.5%;
  right: 2.5%;
  height: 1px;
  background: rgba(255,255,255,.3);
}

.inner-footer__links {
  &::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 2.5%;
  right: 2.5%;
  height: 1px;
  font-size: 1rem;
  background: rgba(255,255,255,.3);
  }
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.footer-nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font: bold 1.07rem 'Roboto', Arial, sans-serif;
  transition: color .3s;
  &:hover {
    color: #badcad;
  }
}

.social-links__link--footer:hover svg * {
  fill: #ffffff;
}

.inner-footer__quote-text {
  font: italic 300 1.14rem 'Roboto', Arial, sans-serif;
  color: #fff;
  opacity: .5;
  margin-bottom: 5px;
}

.inner-footer__quote-author {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  opacity: .6;
}

.inner-footer__bot {
  padding: 10px 32px; 
  background: rgba(108,156,90,0.85);
}

.inner-footer__copyright-top,
.inner-footer__copyright-bot {
  text-align: center;
  font: 300 1rem 'Roboto', Arial, sans-serif;
  color: #fff;
}